{% extends "layout.html" %}



{% block body %}

    <div class="container text-center">
    <div class="col-xl-">
            <div class="jumbotron vertical-center">
                <div class="container">
                    <h1 class="display-2"><b>Welcome on Flack</b></h1>
                    <h1 class="display-4"><i>It's a spin-off od Slack</i></h1>
                    <div class="mt-2 col-md-12"></div>
                    <div class="mt-2 col-md-12"></div>
                    <div class="mt-2 col-md-12"></div>
                    <div class="mt-2 col-md-12"></div>
                    <div class="mt-2 col-md-12"></div>
                    <div class="mt-2 col-md-12"></div>
                    <p class="lead">Step 1: Log in</p>
                    <p class="lead">Step 2: Be happy user :)</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
