<!DOCTYPE html>
<html>
<head>
    <title>
        {% if session['logged_in'] %}
            Flack: {{ session["last_room"] }} as {{ session["nickname"] }}
        {% else %}
            Flask version 1.0
        {% endif %}
    </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css"
          href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/main.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='layout.js') }}"></script>

    {% block head %}{% endblock %}

</head>


<body>

<div class="navbar sticky-top navbar-dark bg-dark">

    {% if session['logged_in'] %}
        <form method="POST" action="/room/{{ room }}">
            <div class="form-inline my-2 my-xl-0 my-lg-0 my-md-0 mr-1">
                <a class="navbar-brand" href="">Flack room as <span style='color: #119c1e;'>{{ session["nickname"] }}</span>: </a>
                            <select id="dropdown_rooms_list" onchange="if (this.value) window.location.href=this.value">
                    <option selected hidden style="font-weight:bold ">{{ session["last_room"] }}</option>

                    <div id="dropdown_rooms_list_changing">
                        {% for room in rooms_list %}
                            {% if (room != session["last_room"]) %}
                                <option value="/room/{{ room }}">{{ room }}</option>
                            {% endif %}
                        {% endfor %}
                    </div>

                </select>
            </div>
        </form>
        <form class="form-inline " action="/new_room" method="POST" id="new_room_form">
            <input class="form-control mx-1 my-2 my-xl-0" type="search" placeholder="Room name..." name="new_room_name" , id="new_room_name" required>
            <button class="btn btn-outline-success mx-1 my-xl-0 my-2" type="submit">Create room</button>
            <a href="/logout">
                <button class="btn btn-outline-warning mx-1 my-xl-0 my-2" type="button">Logout</button>
            </a>
            <a href="/deleteall">
                <button class="btn btn-outline-danger ml-1 my-xl-0 my-2" type="button" title="Flush your all posts!"><i class="fa fa-trash"></i>
                </button>
            </a>
        </form>

    {% else %}
        <a class="navbar-brand" href="/">Welcome on Flack!</a>
        <form class="form-inline my-2 my-lg-0" action="/login" method="POST">
            <div class="col-auto pl-0">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fa fa-user"></i></div>
                    </div>
                    <input type="text" class="form-control" value="" placeholder="Enter nickname" name="nickname" required>
                </div>
            </div>
            <div class="col-auto pl-0 pr-0">
                <button class="btn btn-outline-light my-2 my-sm-0 mr-sm-2" type="submit">Reserve nickname</button>
            </div>
        </form>
    {% endif %}
    </nav>
</div>

<div class="mt-2 col-md-12"></div>

{% if info_type and info_text %}
    {% if info_type == "succes" %}
        <div class="alert alert-success" role="alert">
            {{ info_text }}
        </div>
    {% elif info_type == "error" %}
        <div class="alert alert-danger" role="alert">
            {{ info_text }}
        </div>
    {% elif info_type == "neutral" %}
        <div class="alert alert-info" role="alert">
            {{ info_text }}
        </div>
    {% endif %}
{% endif %}


{% block body %}{% endblock %}


</body>
</html>
