{% extends "layout.html" %}
{% block head %}
<script src="{{ url_for('static', filename='room.js') }}"></script>
{% endblock %}

{% block body %}
<h1 align="center">Last 100 messages in this room</h1>
    <div id="messages_last_100" align="center"></div>
    <form id="new_message">
        <footer class="footer">
            <div class="container">
                <div class="form-group row">
                    <input class="form-control bg-dark text-white" type="text" value="" placeholder="Type your message and press Enter :)" id="new_message_body">
                </div>
            </div>
        </footer>
    </form>
{% endblock %}

